<h1><%= @activity.activity_name %></h1>
<h3><%= @location.location_name%> (~<%= @location.distance_fr_melb %> km from Melbourne)</h3>

<div class="container">
    <div class="img-container">
        <img src="<%= @activity.image_url %>" alt="">
    </div>
    <div>
        <p>
            like numbers & button,
            comment button,
            Add activity to trip button
        </p>
    </div>    

    <div class="text">
        <p>text here</p>
<%# ---edit / delete--- %>
        <form action="/activities/<%= @activity.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>delete</button>
        </form>

        <a href="/activities/<%=@activity.id %>/edit">edit</a>

<%# ---likes--- %>
        <p><%= @activity.likes.count %> likes</p>
        
        <% if @likes.count > 0 %>
            <form action="/likes" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="activity_id" value="<%= @activity.id %>">

                <button>unlike</button>
            </form>            
        <% else %>
            <form action="/likes" method="post">
                <input type="hidden" name="activity_id" value="<%= @activity.id %>">

                <button>like</button>
            </form>
        <% end %>

<%# ---comments--- %>
        <form action="/comments" method="post">
            <input type="hidden" name="activity_id" value="<%= @activity.id %>">
            <label for="">content</label>
            <textarea name="content"></textarea>
            <button>post a comment</button>
        </form>

        <% @comments.each do |comment|  %>
            <p><%=comment.content %></p>
            <p>posted by <%= comment.user.username %> on <%= comment.time_posted %></p>
        <% end %>
    </div>
</div>



<h1>Related activities</h1>
