<h1><%= @activity.activity_name %></h1>
<h3><%= @location.location_name%> (~<%= @location.distance_fr_melb %> km from Melbourne)</h3>

<div class="details-container">
    <div class="img-container">
        
            <img class="act-img" src="<%= @activity.image_url %>" alt="">
        
        <div class="btns-left">
        <%# ---comments count--- %>
            <p class="grey"><%= @activity.comments.count %></p>
            <div class="comments">
            </div>
            
            <%# ---likes--- %>
            <p class="grey"><%= @activity.likes.count %>
                <% if @likes.count > 0 %>
                    <form action="/likes" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="activity_id" value="<%= @activity.id %>">

                        <button class="liked"></button>
                    </form>            
                <% else %>
                    <form action="/likes" method="post">
                        <input type="hidden" name="activity_id" value="<%= @activity.id %>">

                        <button class="btn-like"></button>
                    </form>
                <% end %>
            </p>
        </div> 
    </div>   

    <div class="text">
        <p> <%= @activity.summary %> </p>
        <small>Posted on <%= DateTime.strptime("#{@activity.time_posted}",'%s') %></small>
        
        <% if logged_in? && @activity.was_created_by(current_user) %>
            <div class="btns">
                <%# ---edit / delete--- %>
                <div class="btn-edit">
                    <a href="/activities/<%=@activity.id %>/edit">edit</a>
                </div>
                
                <form action="/activities/<%= @activity.id %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn-delete">delete</button>
                </form>
            </div>
        <% end %>
    </div>
</div>

            
<div class="center">  
    <h4>Comments</h4>
    <%# ---comments--- %>
    
        <div>
            <% @comments.each do |comment|  %>
                <p class="comment-text"><%=comment.content %></p>
                <small>posted by <%= comment.user.username %> on <%= DateTime.strptime("#{comment.time_posted}",'%s') %></small>
            <% end %>
    
            <div class="center">
    <% if logged_in? %>
                <form action="/comments" method="post">
                    <input type="hidden" name="activity_id" value="<%= @activity.id %>">
                    <textarea name="content"></textarea>
                    <button class="btn-submit2">post comment</button>
                </form>
            </div>
        </div>
    <% else %>
        <div>
            <p class="grey">Login / sign-up to post comments</p>
        </div>
    <% end %>
</div> 



<%# <h1>Related activities</h1> %>
