<h1>My trip</h1>

<h3><%= @locations.find(@location_id).location_name %></h3>

<div class="container">
    <% @activity_ids.each do |id| %>
        <div class="box-content">
            <img class="tiles" src="<%= @activities.find(id).image_url%>" alt="">
            <p> 
                <a href="/activities/<%= @activities.find(id).id%>"> 
                    <%= @activities.find(id).activity_name %> 
                </a>
            </p>
            <p></p><%= @locations.find(@activities.find(id).location_id).location_name %></p> 
            <div class="btns">
                <%# 'Add to Trip' button if trip doesn't already exist in trip%>
                <%# if trip exists, then a 'Remove from Trip' button %>
            </div>  
        </div>
    <% end %>
</div>

