<div class="header2">
    <div>
        <h1>Surprise~~</h1>
        <h3><%= @locations.find_by(id: @random_loc).location_name %></h3>
    </div>
    <div class="btns">
        <%# button to save  %>
        <form action="/mytrip" method="post">
            <input type="hidden" name="activity_ids" value="<%= @act_ids %>">
            <input type="hidden" name="location_id" value="<%= @locations.find_by(id: @random_loc).id %>">
            <button class="btn-submit">save trip</button>
        </form>
        
        <%# button to randomise %>
        <form action="/randomtrip">
            <button class="btn-try">random</button>
        </form>
    </div>
</div>

<div class="container">
    <% @random_acts.each do |activity| %>
        <div class="box-content">
            <img class="tiles" src="<%= @activities.find(activity.id).image_url%>" alt="">
                <p> 
                    <a href="/activities/<%= @activities.find(activity.id).id%>"> 
                        <%= @activities.find(activity.id).activity_name %> 
                    </a>
                </p>
                <p><%= @locations.find(@activities.find(activity.id).location_id).location_name %></p>
        </div>
    <% end %>
</div>

